@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");

main {
  padding: 16px;
  padding-bottom: 63px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.checkimg{
  width: 11.4px;
  height: 8px;
  margin-bottom:3.7px;
}
.passwordGen {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #817d92;
  text-align: center;
  margin-top: 54px;
}
.generator {
  width: 343px;
  padding: 16px;
  background: #24232c;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.length {
  display: flex;
  justify-content: space-between;
}
.charecterLength {
  color: #e6e5ea;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
section {
  background: #24232c;
  width: 343px;
  margin-top: 16px;
  padding: 16px;
  
}
.input-slider {
  margin-top: 3px;
  position: relative;
}
input {
  webkit-appearance: none;
  appearance: none;
  width: 311px;
  outline: none;
  height: 8px;
  background: #18171f;
}
input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #e6e5ea;
  cursor: pointer;
  border: none;
  z-index: 1;
  position: relative;
}
.nubValue{
  font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
color: #A4FFAF;
}
.sliderColor {
  background-color: #a4ffaf;
  height: 8px;
  position: absolute;
  left: 0;
  top: 8px;
  width: 50%;
}
.chooseSection{
  display: flex;
  flex-direction: column;
  gap:16px;
  margin-top:42px;
}
.choose{
  display: flex;
  gap:20px;
  align-items: center;
}
.square {
  border: 2px solid #e6e5ea;
  height: 20px;
  width: 20px;
  text-align: center;
}
.include {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #e6e5ea;
}
.info{
  display: flex;
  width: 311px;
background: #18171F;
padding:14px 16px;
margin-top:32px;
justify-content: space-between;
align-items: center;

}
.strength{
  font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #817D92;
}
.strengthInifo{
font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
text-align: right;
color: #E6E5EA;
margin-left: 12px;
}

.reflect-sec{
  display: flex;
  gap:8px;
}
.reflect{
  height: 28px;
width: 10px;
border: 2px solid #E6E5EA;

}
button{
  width: 100%;
  background: #A4FFAF;
  padding:18px;
  border: none;
  font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #24232C;
display: flex;
gap:16px;
justify-content: center;
align-items: center;
margin-top:16px;
}